.projects-section {
  background: #111;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  box-shadow: inset 0rem 0rem 1.25rem rgba(0, 255, 255, 0.2);
}

.projects-section h2 {
  margin-bottom: 2rem;
  color: #0ff; 
  text-shadow: 0rem 0rem 0.938rem rgba(0, 255, 255, 0.8);
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% { text-shadow: 0rem 0rem 0.5rem rgba(0, 255, 255, 0.6); }
  100% { text-shadow: 0rem 0rem 1.125rem rgba(0, 255, 255, 1); }
}


